@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  width: 300px;
  height: 150px;
}

.popup-container {
  padding: 20px;
  text-align: center;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #007bff;
}

p {
  font-size: 14px;
  margin: 10px 0;
}

input {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
